/* Css style for SideBarMenu.vue */
.sidebar{
    position: absolute;
    top: calc(20vh - 1px);
    left: 0;
    margin-top: 1px;
    width: 50%;
}
/* Css style for SideBarMenu.vue scroll -- Element Plus*/
.sidebar-wrapper {
    height: 100%;
    overflow: hidden;
}
.sidebar-scrollbar {
    height: 100%;
}
.el-scrollbar__wrap {
    height: 100%;
}
.el-scrollbar__view {
    max-height: 100%;
    overflow-y: auto;
}


/* Css Style for Header.vue */
.banner {
    width: 100%;
    height: 20vh; 
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; /* 隐藏溢出部分 */
}
.image-container {
    width: 100%; 
    height: 0; 
    padding-bottom: 56.25%; /* 设置容器高度为宽度的 56.25%（16:9 比例）*/
    position: relative;
}
.image-container img {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* 填充容器并保持比例 */
}

.header-wrapper {  /* 确保 <el-header> 区域不会与其他元素重叠 */
    position: fixed;
    width: 100%;
    z-index: 100;
}

/* Css Style for CardDisplay.vue */
.time {
    font-size: 12px;
    color: #999;
}
.bottom {
    margin-top: 13px;
    line-height: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    padding: 0;
    min-height: auto;
}
.image {
    width: 100%;
    display: block;
}
.card-display-content{
    margin-left: 120px;  /* Card display 左移 */
}

/* App.vue setting */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.main-container {
    height: calc(100vh - 64px); /* Adjust the height as needed to avoid overlapping with header */
}
.header-wrapper {
    position: fixed;
    width: 100%;
    z-index: 100;
} 
.sub-container {
    margin-top: 64px; /* Adjust the margin-top value to create space below header */
}