/* Css style for image diplay */
.sidebar{
    position: absolute;
    top: calc(10vh + 10px);
    left: 0;
    margin-top: 1px; /* 调整 SideBarMenu 与上方内容的间距 */
    width: 50%;
}
.banner {
    width: 100%;
    height: 20vh; 
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; /* 隐藏溢出部分 */
}
.image-container {
    width: 100%; /* 设置容器宽度为100% */
    height: 0; /* 设置容器高度为0，由内部图片撑开 */
    padding-bottom: 56.25%; /* 设置容器高度为宽度的 56.25%（16:9 比例）*/
    position: relative; /* 设置容器为相对定位 */
}
.image-container img {
    position: absolute; /* 图片绝对定位 */
    top: 0; /* 将图片定位到容器顶部 */
    left: 0; /* 将图片定位到容器左侧 */
    width: 100%; /* 设置图片宽度为100% */
    height: 100%; /* 设置图片高度为100% */
    object-fit: cover; /* 填充容器并保持比例 */
}



/* Css Style for CardDisplay.vue */
.time {
    font-size: 12px;
    color: #999;
}
.bottom {
    margin-top: 13px;
    line-height: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    padding: 0;
    min-height: auto;
}
.image {
    width: 100%;
    display: block;
}
.card-display-content{
    margin-left: 150px;
}

/* globel setting */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }